head{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(236, 236, 236);
}
#wrapper{
    display: grid;
    height: 350vh;
    grid-template-columns: 100%;
    grid-template-rows: 5% 20% 70% 5%;
    margin: 0px;
    padding :0px;
    justify-items: center;
    align-items: center;
    grid-template-areas:
    "rubrik"
    "husbild"
    "husinfo"
    "info";
    background-color: white;
    
    
}
h3{
    font-size: 15px;
}
#graybackground{
    position: absolute;
    background-color: rgba(180, 160, 160, 0.767);
    width: 100%;
    height: 100%;
    z-index: -100;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.storbild {
    justify-content: center;
    align-items: center;
}
#rubrik {
    border-color: black;
    border-radius: 20%;
    grid-area: rubrik;
    border-style: solid;
    width: 1000px;
    height: 80%;
    text-align: center;
}
#huswrapper{
    display: flex;    
    grid-area: husbild;
    gap: 60px;
    width: 100%;
    justify-content: center;
    
}
.hus{
    height: 300px;
    width: 450px;
    border-width: 2px;
    border-style:solid ;
    border-color: black;
    border-radius: 20px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
footer {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    grid-area: info;
    margin:0px;
    width: 100%;
    height:100%;
    
}
.text {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
#husplustext{
    grid-area: husinfo;
    width: 100%;
    display:flex;
    justify-items: center;
    align-items: center;
}
.husinfo{
    border-radius: 20px;
    border-style: solid;
    border-color: black;
    width: 1000px;
    height: 600px;
    background-color: white;
    position: relative;
    
}
.closeKnapp{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 50px;
    height: 50px;
    font-size: 25px;
}
.rutaavbilden_innanclick{
    width: 30%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}

/* Ruftana */

#hus1 > img{
    width: 100%;
    border-radius: 4%;  
}
#hus2 > img{
    width: 100%;
    border-radius: 4%;
}
#hus3 > img{
    width: 100%;
    border-radius: 4%;
}
